* {
    margin: 0;
    padding: 0;
    }

body {background-color: var(--g100)}
:root {
    --primary: #870000;
    --secondary: #114D10;
    --accent: #222E56;
    --g100: #EFE4DA;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 25px;
    width: 100vw;
    margin-top: 14px;
    background-color: var(--primary)
  }
  
  nav ul {
    display: flex;
    list-style: none;
    font-family: 'Bowlby One', cursive;
  }
  
  ul li a {
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
  }

  p {font-family: 'Akshar', sans-serif;}

  .logo img {width: 16vw;
    height: auto;}