* {
  margin: 0;
  padding: 0;
}

/* Colors/Fonts */

body {
  background-color: var(--g100);
}
:root {
  --primary: #870000;
  --secondary: #114d10;
  --accent: #222e56;
  --g100: #efe4da;
}
html {
  scroll-behavior: smooth;
}

::selection {
  background: #ff7c7c;
}
::-moz-selection {
  background: #ff7c7c;
}

.container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Bowlby One", cursive;
}

h1 {
  line-height: 75px;
  font-size: 48px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.hero-content h1 {
  line-height: 75px;
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  line-height: 30px;
  font-size: 32px;
}

h3 {
  line-height: 22px;
  font-size: 24px;
}

h4 {
  line-height: 18px;
  font-size: 18px;
}

h5,
p,
.cardcopy,
.bcbold,
h6 {
  font-family: "Akshar", sans-serif;
}

h5 {
  line-height: 40px;
  font-size: 32px;
  font-weight: 600;
}

h6 {
  line-height: 30px;
  font-size: 24px;
  font-weight: 600;
}

p {
  line-height: 36px;
  font-size: 20px;
  font-weight: 300;
}

.cardcopy {
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
}

.bcbold {
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
}

/* Nav Bar */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 0px;
  background-color: var(--primary);
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  font-family: "Bowlby One", cursive;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

ul li a {
  padding: 27px 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-shadow: 4px 4px black;
  cursor: pointer;
}

p {
  font-family: "Akshar", sans-serif;
}

.logo img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  margin: 0.7em auto;
  margin-left: 0.7em;
  max-width: 500px;
}

/* Hero Image */
.hero {
  background-image: url("images/hero-image.jpeg");

  height: 668px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-content {
  background-color: rgba(300, 300, 300, 0.4);
  padding: 30px;
  text-align: left;
  position: absolute;
  top: 320px;
  right: 60px;
  padding-top: 10px;
  height: auto;
  min-height: 100px;
  max-height: 200px;
  width: auto;
  min-width: 270px;
  max-width: 500px;
}

.hero-content h5 {
  text-align: left;
}

/* Who Was DOOM? */

.card {
  background-color: white;
  outline: 4px solid black;
  margin: 40px;
}

.cardphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-liferow {
  margin-top: 40px;
  height: 300px;
}
.mask {
  margin-top: 40px;
}
.tribute {
  background-color: white;
  outline: 4px solid black;
  display: flex;
  align-items: center;
}

.biocard {
  display: flex;
  justify-content: space-between;
  background-color: white;
  outline: 4px solid black;
}

.cardcontent {
  padding: 2em;
}
.cardcontent p {
  max-width: 600px;
  min-width: 500px;
  max-height: 315px;
}
.cardcontent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: right;
}
.card h2 {
  margin-bottom: 30px;
}
.card-liferow h2 {
  margin-bottom: 30px;
}

/* DOOM's Discography */
.comic {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comictop,
.comicbottom {
  display: flex;
  margin: 45px;
  justify-content: space-between;
  padding: 0 0px;
  gap: 45px;
}

.disccard .largecard img {
  width: auto;
  height: auto;
}

.largecard {
  display: flex;
  background-color: white;
}

.widecard,
.smallcard {
  display: flex;
  height: 318px;
  background-color: white;
}

.disccard img {
  margin: 30px;
  align-items: center;
  width: auto;
  height: auto;
  object-fit: fill;
}

.smallcardcontent {
  transform: rotate(-90deg);
  margin-bottom: -60px;
  margin-left: 30px;
}

.widecard h2 {
  margin-top: 30px;
}

.widecard h5 {
  margin-top: 15px;
  margin-bottom: 20px;
}

.smallcard {
  overflow: hidden;
}

.smallcard h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

/* DOOM's Life */
.lifecontent {
  width: auto;
  margin: 30px;
}
.legacy {
  width: auto;
  height: auto;
}
.tribute {
  width: auto;
  height: auto;
}
.liferow {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
}

.lifeimgs {
  display: flex;
  text-align: center;
  gap: 60px;
  margin-left: 60px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.biocard h2 {
  margin-bottom: 30px;
}

.lifeimgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.streaming {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 550px;
}

iframe {
  border-radius: 10px;
}

.vidthree {
  margin-top: 25px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.container .footernav .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footernav {
  margin: 0 auto;
}

footer .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
  margin: 0 auto;
}

footer .logo img {
  margin: 0 auto;
}
footer .nav li {
  display: flex;
  align-items: center;
}

.circles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -15px auto 25px;
}
a img:hover {
  filter: invert(1);
}

/* Interactivity */

@media only screen and (max-width: 840px) {
  /* fonts */
  h1 {
    line-height: 53px;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  h2 {
    line-height: 23px;
    font-size: 23px;
  }

  p {
    line-height: 25px;
    font-size: 14px;
    font-weight: 300;
  }
  body {
    background-color: blue;
  }
  .cardphoto {
    max-width: 70%;
    max-height: 100%;
    margin: 0 auto;
  }
  /* Nav */
  nav {
    display: none;
  }
  /* hero */
  .hero {
    background-image: url("images/hero-image.jpeg");
    height: 35vh;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
  }
  .hero-content {
    display: none;
  }
  .logo img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin: 0.7em;
  }

  .biocard {
    display: block;
  }

  /* Discography*/

  .comic {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comictop,
  .comicbottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .biocard {
    margin: 2em;
  }

  .disccard .largecard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .largecard {
    display: flex;
    background-color: white;
  }
  .disccard p {
    display: none;
  }
  .widecard {
    display: flex;
    background-color: white;
  }

  .disccard img {
    margin: 30px;
    width: auto;
    height: auto;
    object-fit: cover;
    align-items: center;
  }

  .disccard .cardcontent {
    transform: rotate(-90deg);
    margin-bottom: -60px;
    margin-left: 30px;
  }

  .widecard h2 {
    margin-top: 30px;
  }

  .widecard h5 {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .smallcard {
    overflow: hidden;
  }

  .smallcard h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .largecard {
    margin: 0 auto;
  }

  .streaming,
  .doombio {
    display: none;
  }

  .albumcover {
    width: 100%;
    height: 100%;
  }
}
/* #logo a.nav-trigger {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
  } */
  